body{
    background-color:black;
}

.post{
    background-color: white;
    width: 50%; 
    margin: auto;
}

.post-header{
    display: flex;
    justify-content: space-between;
}

.post-header-left{
   display: flex;
}

.usuario{
    height: 50px;   
}

.fa-html5,
.fa-ellipsis-vertical{
    margin: 15px;
    font-size: 40px;
}

.container-imagen{
    width: 100%;
}

img{
    object-fit: fit;
    width: 100%;
    height: 100%;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icons-left{
    padding-top: 10px;
    font-size: 40px;
    margin-left: 15px;
}

.icons-right{
    padding-top: 10px;
    font-size: 40px;
    margin-right: 15px;
}

.likes{
    margin-left: 15px;
    margin-right:15px; ;
    text-align: justify;
}

.comment{
    padding-bottom: 10px;
}
